.flexbox{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.flexbox_item{
    display: flex;
    flex: 1 1 0;
}

.flexbox_item_sub{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    max-width: 45%;
    flex-direction: row;
}

.flexbox_item_info{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    flex-direction: row;
}

.flexbox_item_info ul, .flexbox_item_info li{
    list-style-type: none;
    padding: 0;
}

/* 
.flexbox_home:first-child{
    text-align: right;
} */

.flexbox_home{
    justify-content: stretch;
}

.flexbox_home_item{
    text-align: left;
    
}

.flexbox_works{
    display:flex;
    flex: 1 1 0;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    transition-property: box-shadow, opacity;
    transition-duration: 0.5s;
    background-color: white;
    border: 1px solid #8c8299;
    position: relative;
}

.flexbox_works:hover, .flexbox_works:focus{
    box-shadow: 0.5rem 0.5rem #8c8299;
    opacity: 0.8;
    /* cursor: pointer; */
}

.flexbox_img{
    flex: 1 1 0;
    padding: 0.5rem;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.center{
    align-items: center;
}

.justify_center{
    justify-content: center;
}

.stretch{
    align-items: stretch;
}

.flexbox_palette{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.flexbox_palette .flexbox_sub{
    display: flex;
    flex: 0 1 0;
    margin: 0 2rem 0 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width: 75rem){
    .box_main{
        transition-property: margin;
        transition: 0.5s;
        margin: 3rem 7rem 3rem 7rem;
    }

}

@media screen and (max-width: 65rem){
    
    .box_main{
        transition-property: margin;
        transition: 0.5s;
        margin: 3rem;
    }

}

@media screen and (max-width: 50rem){
    .flexbox{
        width: 100%;
        flex-direction: column;
    }


    img, .img_half, .img_third, .img_quart{
        width: 100%;
        margin-bottom: 1rem;
    }

    .width_third{
        width: 100%;
    }

    .img_full_width{
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        margin-right: -50vw;
    }

    .add_padding, .padding_right, .padding_left{
        padding: 0;
    }

    .flexbox_margin{
        margin: 0;
    }

    .flexbox_home h1{
        letter-spacing: 0.1rem;
        font-size: 2rem;
    }

    .flexbox_home h2{
        font-size: 1.3rem;
    }

    .flexbox_home_item{
        text-align: center;
    }

    .flexbox_item_info{
        justify-content: center;
        flex-direction: column;
    }

    .flexbox_item_info .padding_right{
        padding-bottom: 1rem;
    }

}