.flexbox{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.flexbox_item{
    display: flex;
    flex: 1 1 0;
}

.flexbox_item_sub{
    flex: 1 1 auto;
    flex-wrap: nowrap;
    max-width: 45%;
    flex-direction: row;
}

.flexbox_home:first-child{
    text-align: right;
}

.flexbox_img{
    flex: 1 1 0;
    padding: 0.5rem;
}

.column{
    flex-direction: column;
}

.center{
    align-items: center;
}

.flexbox_palette{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.flexbox_palette .flexbox_sub{
    display: flex;
    flex: 0 1 0;
    margin: 0 2rem 0 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width: 75rem){

}

@media screen and (max-width: 50rem){
    .flexbox{
        width: 100%;
        flex-direction: column;
    }


    img, .img_half, .img_third, .img_quart{
        width: 100%;
        margin-bottom: 1rem;
    }

    .add_padding, .padding_right, .padding_left{
        padding: 0;
    }

    .flexbox_margin{
        margin: 0;
    }

    .flexbox_home_item{
        order: 2;
        text-align: center;
    }

}