.flexbox{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.flexbox_sub{
    display: flex;
    flex: 1 1 0;
    align-items: flex-start;
    justify-content: flex-start;
}

.flexbox_item{
    flex: 1 1 0;
}

.column{
    flex-direction: column;
}

.center{
    align-items: center;
}

.flexbox_palette{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.flexbox_palette .flexbox_sub{
    display: flex;
    flex: 0 1 0;
    margin: 0 2rem 0 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width: 75rem){

}

@media screen and (max-width: 50rem){
    .flexbox{
        flex-direction: column;
    }

    img, .img_half, .img_third{
        width: 100%;
        margin-bottom: 1rem;
    }

}