/** GOOGLE FONT: Josefin Sans https://fonts.google.com/specimen/Josefin+Sans **/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;350;400&display=swap');

/** STYLING FOR HTML AND BODY **/
html, body{
    background-color: #fefaec;
    color: #8c8299;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
}

/**  STYLING FOR NAVIGATION MENU AND BUTTONS **/
nav, .button{
    background-color: #8c8299;
    font-size: 0.8em;
    overflow: hidden;
}

/* Navigation button links */
/* Reference used: https://developer.mozilla.org/en-US/docs/Web/CSS/text-underline-offset*/
nav a, .button{
    color: #e4c2cd;
    margin: 0 1rem 0 1rem;
    text-decoration: none;
    text-underline-offset: 0.1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    position: relative;
    transition-property: color, text-underline-offset;
    transition-duration: 0.5s;
}

nav a:hover, nav a:focus, .button:hover, .button:focus{
    color: white;
    text-decoration: underline 0.15rem;
    text-underline-offset: 0.5rem;
}

/* Navigation has a drop menu */
/* Reference: https://codepen.io/nandun_malinda/pen/LvWpgL */
.drop-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    display: none;
    position: absolute;
    background-color: #8c8299;
    color: #e4c2cd;
}

/* Items within the drop menu and it's styling for link and hover*/
.drop-menu-item {
    width: 100%;
}

.drop-menu-item:hover {
    background-color: #8c8299;
    color: #e4c2cd;
}

.drop-menu-item a {
    color: #e4c2cd;
}

/* Styling for items in the nav menu section*/
.menu-item:hover .drop-menu {
    display: block;
}

.menu_button, .button{
    display: inline-block;
    background-color: #8c8299;
    padding: 1rem;
}

/* Styling for the drop menu items to position them correctly */
/*Reference used: http://jsfiddle.net/xj76zn77/1/*/
.last ul{
    right: 0px;
    left: auto;
}

/** STYLING FOR SECTIONS **/
section{
    margin: 1.5rem 0 1.5rem 0;
}

/** TEXT STYLING **/
h1{
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

p, ul{
    font-weight: 350;
    line-height: 1.5rem;
    font-size: 1rem;
}

/* Styling to highlight text in another colour */
.highlight{
    color: #e4c2cd;
}

/* Styling used in project.html to lower opacity of text */
.low_opacity{
    opacity: 30%;
}

/** LINKS **/

/*In Text Link*/
.in_text{
    color: #e4c2cd;
    /* text-decoration: none; */
    text-underline-offset: 0.1rem;
    transition-property: color, text-underline-offset;
    transition-duration: 0.5s;
}

.in_text:hover, .in_text:focus{
    color: #8c8299;
    /* text-decoration: underline; */
    text-underline-offset: 0.5rem;
}

/*Project Title Link - used in work.html*/
.title_project{
    color: #8c8299;
    text-decoration: none;
    text-underline-offset: 0.1rem;
    transition-property: text-underline-offset;
    transition-duration: 0.5s;
}
  
.title_project:hover, .title_project:focus {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

/*Link for buttons in work.html*/
.link_button{
    background-color: #8c8299;
    color: #e4c2cd;
    display: block;
    width: 100%;
    padding: 2rem 0 2rem 0;
    text-decoration: none;
    transition-property: background-color, letter-spacing, border-radius; 
    transition-duration: 0.5s;
    text-transform: uppercase;
}

.link_button:hover, .link_button:focus {
    background-color: #e4c2cd;
    color: white;
    letter-spacing: 0.2rem;
    border-radius: 0.5rem;
}

/** IMAGES AND EXTRA ELEMENTS **/
/* Draws a divider */
.line{
    border-top: 5px dotted #a78fa6;
    opacity: 30%;
}

/* image at full width */
img{
    width: 100%;
}

/* image at half width */
.img_half{
    width: 50%;
}

/* video at full width */
video{
    width: 100%;
}
