@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;350;400&display=swap');

body{
    background-color: #fefaec;
    color: #8c8299;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

nav{
    background-color: #8c8299;
    padding: 1rem;
    font-size: 0.8em;
}

nav a{
    color: #e4c2cd;
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

nav a:hover, nav a:focus{
    color: white;
}

section{
    margin: 1.5rem 0 1.5rem 0;
}

code{
    background-color: white;
    color: #a78fa6;
    padding: 1rem;
}

.no_margin{
    margin: 0;
}

h1{
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

p, ul{
    font-weight: 350;
    line-height: 1.5rem;
    font-size: 1rem;
}

.h2_styleguide{
    background-color: #e4c2cd;
}

.p_75_right{
    width: 75%;
    float: right;
}

.highlight{
    color: #e4c2cd;
}

.low_opacity{
    opacity: 30%;
}

.in_text{
    color: #e4c2cd;
}

.in_text:hover, .in_text:focus{
    color: #f5dce4;
    text-decoration: none;
}

hr{
    border-top: 5px dotted #a78fa6;
    opacity: 30%;
}

img{
    width: 100%;
    padding: 0.5rem;
}

.img_half{
    width: 50%;
}

.img_third{
    width: 33%;
}

.align_right{
    text-align: right;
}

.box_main{
    margin: 3rem;
}

.add_padding{
    padding: 0 2rem 0 2rem;
}

.padding_right{
    padding-right: 2rem;
}

.palette{
    width: 75px;
    height: 50px;
}

.palette_border{
    border: 1px solid #a78fa6;
}

.purple{
    background-color: #8c8299;
}

.violet{
    background-color: #e4c2cd;
}

.pink{
    background-color: #f5dce4;
}

.lightyellow{
    background-color: #fefaec;
}

.white{
    background-color: white;
}
